<% content_for :title, "My Images" %>

<div class="centre-stage">
  <%= link_to '/auth/github', class: "github-button", method: :post do %>
    <%= image_tag "github.svg" %>
    Sign in with GitHub
  <% end %>
</div>
