<li class="image-tag"
    id="tag-<%= tag %>"
    data-controller="tag">
    <span data-target="tag.name"><%= tag %></span>
    <%= link_to "&times;".html_safe,
      image_tag_path(image, id: tag),
      data: {method: "delete", "turbo-frame": "tags"},
      class: "delete-tag" %>
</li>
