<li class="image-tag" id="tag-<%= tag %>">
  <%= tag %>
  <%= link_to "&times;".html_safe,
    user_image_tag_path(image, tag),
    method: :delete,
    remote: true,
    class: "delete-tag" %>
</li>
