// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.images
  list-style: none
  padding-left: 0
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  display: -webkit-flex
  -webkit-flex-wrap: wrap
  -webkit-justify-content: space-between

  li
    outline: 1px solid red
    margin-bottom: 1em

  img
    max-width: 100px
    width: 100%
    border: 1px solid rgba(0, 0, 0, 0.2)
    padding: 0.25rem
