<div class="image-info">
  <div class="image-tags" data-controller="tags">
    <%= render "tags/tags", image: image, tags: image.tags %>

    <div class="new-tag-form">
      <%= form_tag user_image_tags_path(image),
        method: :post,
        data: { action: "tags#create" } do %>
        <%= text_field_tag :tag, nil, data: { target: "tags.tag" } %>
        <%= submit_tag "Add Tag", data: { disable_with: false } %>
      <% end %>
    </div>
  </div>
</div>
