<% content_for :title do %>
  <h1>My Images</h1>
  &rarr;
  <%= @image.image.name %>
<% end %>

<div class="show-image">
  <div class="image-container">
    <%= image_tag(@image.image.url) %>
  </div>

  <div class="image-info">
    <ul class="image-tags">
      <% @image.tags.each do |tag| %>
        <li class="image-tag"><%= tag %></li>
      <% end %>
    </ul>
  </div>
</div>
