<% content_for :title do %>
  <h1>My Images</h1>
  &rarr;
  <%= @image.image.name %>
<% end %>

<div class="show-image" data-image-id="<%= @image.id %>">
  <div class="image-container">
    <%= render "image", image: @image %>
  </div>

  <%= render "info", image: @image %>
</div>
